fullstack/wcfclient_netframe/wcfclient_netframe/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="emp">
    <xs:sequence>
      <xs:element minOccurs="0" name="deptno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="empname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empno" type="xs:int" />
      <xs:element minOccurs="0" name="job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salary" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="emp" nillable="true" type="tns:emp" />
  <xs:complexType name="ArrayOfemp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="emp" nillable="true" type="tns:emp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfemp" nillable="true" type="tns:ArrayOfemp" />
</xs:schema>